<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="property-file-sorter-plugin.contribution1"
            nameFilter="*.properties">
         <menu
               label="Property File Sorter"
               path="additions"
               id="property-file-sorter-plugin.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Sort In Groups"
               class="propertyfilesorterplugin.popup.actions.SortInGroups"
               menubarPath="property-file-sorter-plugin.menu1/group1"
               enablesFor="1"
               id="property-file-sorter-plugin.newAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
